<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Socials Page</title>
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- Bootsrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">
    <!-- CSS -->
    <link href="/resources/css/postHistory.css" rel="stylesheet">
    <link href="Socials/mini.ico" rel="icon" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white"
             style="border-right: 2px solid #000; width: 200px">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black text-decoration-none title"
                   th:href="@{/}">
                    <img alt="#" id="logo" src="/resources/Socials/logo.png">
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                    id="menu">
                    <li class="nav-item">
                        <a class="nav-link align-middle px-0 text-black" th:href="@{/landing}">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link px-0 align-middle text-black" th:href="@{/postHistory}">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Post
                                    History</span></a>
                    </li>
                    <div class="dropdown">
                        <a aria-expanded="false"
                           class="d-flex align-items-center text-black text-decoration-none dropdown-toggle"
                           data-bs-toggle="dropdown" href="#" id="dropdownUser1">
                            <!--<img src="Socials/user.png" width="25" height="25" class="rounded-circle">-->
                            <i class="fs-4 bi-people"></i>
                            <span class="d-none d-sm-inline mx-1">User</span>
                        </a>
                        <ul aria-labelledby="dropdownUser1"
                            class="dropdown-menu dropdown-menu-white text-small shadow">
                            <li><a class="dropdown-item" th:href="@{/signOut}">Sign out</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
        <div class="col py-3 renderText">
            <h3>Post History</h3>
            <div class="container">
                <div class="posts-text">
                    <p>Here are the posts you've made to the following social media platforms!</p>
                </div>
                <div class="container">
                    <div class="row socials-list">
                        <div class="col-6 col-md-3 d-flex flex-column align-items-center">
                            <label>
                                <input checked="true" id="twitterCheckBox" name="twitterCheckBox" type="checkbox">
                            </label>
                            <img src="/resources/Socials/twitter.jpg">
                        </div>
                        <div class="col-6 col-md-3 d-flex flex-column align-items-center">
                            <label>
                                <input checked="true" id="tumblrCheckBox" name="tumblrCheckBox" type="checkbox">
                            </label>
                            <img src="/resources/Socials/tumblr.jpg">
                        </div>
                        <div class="col-6 col-md-3 d-flex flex-column align-items-center">
                            <label>
                                <input checked="true" id="redditCheckBox" name="redditCheckBox" type="checkbox">
                            </label>
                            <img src="/resources/Socials/reddit.png">
                        </div>
                        <div class="col-6 col-md-3 d-flex flex-column align-items-center">
                            <label>
                                <input checked="true" id="mastodonCheckBox" name="mastodonCheckBox" type="checkbox">
                            </label>
                            <img src="/resources/Socials/mastodon.png">
                        </div>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="posts-text d-flex justify-content-center align-items-center pb-0" style="padding: 32px">
                    <p class="displayText mb-0"></p>
                </div>
                <div class="container reddit">
                    <div class="row posts-list checkReddit">
                        <div class="post-container first-reddit" th:each="redditPost : ${redditPosts}">
                            <div style="display: flex; justify-content: space-between; flex-direction: row-reverse; align-items: center">
                                <div>
                                    <ion-icon name="logo-reddit"></ion-icon>
                                </div>
                                <div>
                                    <p> Reddit</p>
                                </div>
                            </div>
                            <div class="top">
                                <img height="25" src="/resources/Gifs/header.webp" width="25">
                                <p th:text="'Header: ' + ${redditPost.title}"></p>
                                <img height="25" src="/resources/Gifs/subreddit.webp" width="25">
                                <p th:text="'Subreddit: ' + ${redditPost.subreddit}"></p>
                            </div>
                            <div class="main">
                                <img height="25" src="/resources/Gifs/author.webp" width="25">
                                <p th:text="'Author: ' + ${redditPost.author}"></p>
                                <img height="25" src="/resources/Gifs/clock.webp" width="25">
                                <p th:text="'Created: ' + ${redditPost.creationDate}"></p>
                            </div>
                            <div class="post-content">
                                <p th:text="${redditPost.content}">Your post content will be here!</p>
                            </div>
                            <div class="interactions">
                                <img height="25" src="/resources/Gifs/comment.webp" width="25">
                                <p th:text="'Number of comments: ' + ${redditPost.numComments}"></p>

                                <img height="25" src="/resources/Gifs/like.webp" width="25">
                                <p th:text="'Up Votes: ' + ${redditPost.upVotes}"></p>

                                <img height="25" src="/resources/Gifs/dislike.webp" width="25">
                                <p th:text="'Down Votes: ' + ${redditPost.downVotes}"></p>
                            </div>
                            <div class="original-post">
                                <a class="original-post" target="_blank" th:href="${redditPost.url}">Original Post</a>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container twitter">
                <div class="row posts-list checkTwitter">
                    <div class="post-container first-tweet" th:each="tweet : ${tweets}">
                        <div style="display: flex; justify-content: space-between; flex-direction: row-reverse; align-items: center">
                            <div>
                                <ion-icon name="logo-twitter"></ion-icon>
                            </div>
                            <div>
                                <p style="margin-left: 9px">Twitter</p>
                            </div>
                        </div>
                        <div class="main">
                            <img height="25" src="/resources/Gifs/clock.webp" width="25">
                            <p th:text="'Created: ' + ${tweet.creationDate}"></p>
                        </div>
                        <div class="post-content">
                            <p th:text="${tweet.tweetText}">Your post content will be here!</p>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>

            <!--            mastodon not updating when refreshing page so i took out favourites count for now           -->
            <div class="container mastodon">
                <div class="row posts-list checkMastodon">
                    <div class="post-container first-tweet" th:each="post : ${mastodonPosts}">
                        <div style="display: flex; justify-content: space-between; flex-direction: row-reverse; align-items: center">
                            <div>
                                <ion-icon name="logo-mastodon"></ion-icon>
                            </div>
                            <div>
                                <p style="margin-left: 9px">Mastodon</p>
                            </div>
                        </div>
                        <div class="post-content">
                            <p th:utext="${post.content}">Your post content will be here!</p>
                        </div>
                        <div class="interactions">
                            <img height="25" src="/resources/Gifs/like.webp" width="25">
                            <p th:text="'Favourite Count: ' + ${post.favouriteCount}"></p>
                        </div>
                        <div class="original-post">
                            <a class="original-post" target="_blank" th:href="${post.postUrl}">Original Post</a>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>

            <!--             took out note count for same reason i took out mastodon favourites count                -->
            <div class="container tumblr">
                <div class="row posts-list checkTumblr">
                    <div class="post-container first-tweet" th:each="post : ${tumblrPosts}">
                        <div style="display: flex; justify-content: space-between; flex-direction: row-reverse; align-items: center">
                            <div>
                                <ion-icon name="logo-tumblr"></ion-icon>
                            </div>
                            <div>
                                <p style="margin-left: 9px">Tumblr</p>
                            </div>
                        </div>
                        <div class="main">
                            <img height="25" src="/resources/Gifs/clock.webp" width="25">
                            <p th:text="'Created: ' + ${post.date}"></p>
                        </div>
                        <div class="post-content">
                            <p th:utext="${post.content}">Your post content will be here!</p>
                        </div>
                        <div class="interactions">
                            <img height="25" src="/resources/Gifs/like.webp" width="25">
                            <p th:text="'Note Count: ' + ${post.noteCount}"></p>
                        </div>
                        <div class="original-post">
                            <a class="original-post" target="_blank" th:href="${post.postUrl}">Original Post</a>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div id="postIdContainer" th:data-postid="${session.recentPostId}"></div>
            <input id="flashMessage" th:value="${message}" type="hidden"/>
            <div class="toast" id="toast"></div>
        </div>
    </div>
</div>

<script>

    const checkReddit = document.querySelector(".checkReddit");
    const checkTwitter = document.querySelector(".checkTwitter");
    const checkMastodon = document.querySelector(".checkMastodon");
    const checkTumblr = document.querySelector(".checkTumblr");
    const displayText = document.querySelector(".displayText");
    const twitterDisplay = document.querySelector(".twitter");
    const redditDisplay = document.querySelector(".reddit");
    const tumblrDisplay = document.querySelector(".tumblr");
    const mastodonDisplay = document.querySelector(".mastodon");
    mastodonDisplay.style.display = 'none';
    twitterDisplay.style.display = 'none';
    tumblrDisplay.style.display = 'none';
    redditDisplay.style.display = 'none';
    let existingPosts = false;
    const beforeHistory = "Create a post and see!";
    const afterHistory = "Looks like you've made quite the amount of posts!";
    const renderText = document.querySelector(".renderText");
    const listToCheck = [checkReddit, checkTwitter, checkMastodon, checkTumblr];
    const twitterCheckBox = document.querySelector("#twitterCheckBox");
    const tumblrCheckBox = document.querySelector("#tumblrCheckBox");
    const redditCheckBox = document.querySelector("#redditCheckBox");
    const mastodonCheckBox = document.querySelector("#mastodonCheckBox");

    window.addEventListener("DOMContentLoaded", () => {
        const postIdElement = document.getElementById('postIdContainer');
        const postId = postIdElement.getAttribute('data-postid');

        // Uses localstorage to keep track of postId
        let previousPostId = localStorage.getItem('previousPostId');

        console.log("Old postId: " + previousPostId);
        console.log("New postId: " + postId);

        // checks if the postIds, if they don't match that means it's a post that hasn't been fetched before
        // uses the Polling method
        if (previousPostId !== postId) {
            console.log("New post detected, starting polling.");
            localStorage.setItem('previousPostId', postId);
            displayToast("Getting Reddit post", "green", 5000);
            const pollingInterval = setInterval(pollPostStatus, 5000);

            function pollPostStatus() {
                fetch(`/post-status/${postId}`)
                    .then(response => response.text())
                    .then(status => {
                        console.log('Current post status:', status);
                        if (status === "ready") {
                            displayToast("Reddit post Ready", "green", 10000);
                            clearInterval(pollingInterval);
                        }
                    })
                    .catch(error => console.error('Failed to fetch post status:', error));
            }
        } else {
            console.log("No new post to poll.");
        }

        function displayToast(message, color, duration) {
            let toastDuration = duration === null ? 6000 : duration;
            toast.innerText = message;
            toast.className = "toast show";
            toast.style.background = color;
            setTimeout(function () {
                toast.className = toast.className.replace("show", "");
            }, toastDuration);
        }

        console.log('Post ID from session:', postId);
        for (let i = 0; i < listToCheck.length; i++) {

            if (listToCheck[i].children.length > 0) {
                let currentSocial = listToCheck[i];
                existingPosts = true;

                const classElement = currentSocial.className;

                if (classElement.includes("Twitter") && twitterCheckBox.checked) {
                    twitterDisplay.style.display = 'block';
                } else if (classElement.includes("Mastodon") && mastodonCheckBox.checked) {
                    mastodonDisplay.style.display = 'block';
                } else if (classElement.includes("Tumblr") && tumblrCheckBox.checked) {
                    tumblrDisplay.style.display = 'block';
                } else if (classElement.includes("Reddit") && redditCheckBox.checked) {
                    redditDisplay.style.display = 'block';
                }

            }
        }

        if (existingPosts === false) {
            displayText.textContent = beforeHistory;
        } else {
            displayText.textContent = afterHistory;
        }

        twitterCheckBox.addEventListener('change', function () {
            if (this.checked && checkTwitter.children.length > 0) {
                twitterDisplay.style.display = 'block';
            } else {
                twitterDisplay.style.display = 'none';
            }
        });
        tumblrCheckBox.addEventListener('change', function () {
            if (this.checked && checkTumblr.children.length > 0) {
                tumblrDisplay.style.display = 'block';
            } else {
                tumblrDisplay.style.display = 'none';
            }
        });
        mastodonCheckBox.addEventListener('change', function () {
            if (this.checked && checkMastodon.children.length > 0) {
                mastodonDisplay.style.display = 'block';
            } else {
                mastodonDisplay.style.display = 'none';
            }
        });
        redditCheckBox.addEventListener('change', function () {
            if (this.checked && checkReddit.children.length > 0) {
                redditDisplay.style.display = 'block';
            } else {
                redditDisplay.style.display = 'none';
            }
        });
    })


</script>

<style>

    * {
        padding: 0;
        margin: 0;
    }

    .toast {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
        transition: visibility 0s, opacity 0.5s linear;
    }

    .toast.show {
        visibility: visible;
        opacity: 1;
    }


    .first-tweet:first-child {
        margin-top: 28px;
    }

    .first-reddit:first-child {
        margin-top: 28px;
    }

    ion-icon[name="logo-reddit"] {
        color: orangered;
        font-size: 32px;
    }

    ion-icon[name="logo-twitter"] {
        color: #1da1f3;
        font-size: 32px;
    }

    input[type="checkbox"] {
        transform: scale(2);
    }
</style>


<script crossorigin="anonymous"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" type="module"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>