<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Socials Page</title>
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- Bootsrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">
    <!-- CSS -->
    <link href="/resources/css/postHistory.css" rel="stylesheet">
    <link href="Socials/mini.ico" rel="icon" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
<!--        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white"-->
<!--             style="border-right: 2px solid #000; width: 200px">-->
<!--            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">-->
<!--                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black text-decoration-none title"-->
<!--                   href="index.html">-->
<!--                    <img alt="#" id="logo" src="/resources/Socials/logo.png">-->
<!--                </a>-->
<!--                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"-->
<!--                    id="menu">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link align-middle px-0 text-black" href="posts.html">-->
<!--                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a class="nav-link px-0 align-middle text-black" href="postHistory.html">-->
<!--                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Post-->
<!--                                    History</span></a>-->
<!--                    </li>-->
<!--                    <div class="dropdown">-->
<!--                        <a aria-expanded="false"-->
<!--                           class="d-flex align-items-center text-black text-decoration-none dropdown-toggle"-->
<!--                           data-bs-toggle="dropdown" href="#" id="dropdownUser1">-->
<!--                            &lt;!&ndash;<img src="Socials/user.png" width="25" height="25" class="rounded-circle">&ndash;&gt;-->
<!--                            <i class="fs-4 bi-people"></i>-->
<!--                            <span class="d-none d-sm-inline mx-1">User</span>-->
<!--                        </a>-->
<!--                        <ul aria-labelledby="dropdownUser1"-->
<!--                            class="dropdown-menu dropdown-menu-white text-small shadow">-->
<!--                            <li><a class="dropdown-item" href="#">Sign out</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white"
             style="border-right: 2px solid #000; width: 200px">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a th:href="@{/index}">
                    <img alt="#" id="logo" th:src="@{/resources/Socials/logo.png}">
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                    id="menu">
                    <li class="nav-item">
                        <a th:href="@{/landing}" class="nav-link align-middle px-0 text-black">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/postHistory}" class="nav-link px-0 align-middle text-black">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Post
                                    History</span></a>
                    </li>
                    <div class="dropdown pb-4">
                        <div class="dropdown">
                            <a href="#"
                               class="d-flex align-items-center text-black text-decoration-none dropdown-toggle"
                               id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <!--<img src="Socials/user.png" width="25" height="25" class="rounded-circle">-->
                                <i class="fs-4 bi-people"></i>
                                <span class="d-none d-sm-inline mx-1">User</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-white text-small shadow"
                                aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="col py-3">
            <h3>Post History</h3>
            <div class="container">
                <div class="posts-text">
                    <p>Select any social media platform below to view all the posts you've made!</p>
                </div>
                <div class="container">
                    <div class="row socials-list">
                        <div class="col-6 col-md-3">
                            <img src="/resources/Socials/twitter.jpg">
                        </div>
                        <div class="col-6 col-md-3">
                            <img src="/resources/Socials/tumblr.jpg">
                        </div>
                        <div class="col-6 col-md-3">
                            <img src="/resources/Socials/reddit.png">
                        </div>
                        <div class="col-6 col-md-3">
                            <img src="/resources/Socials/mastodon.png">
                        </div>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="posts-text">
                    <p>Looks like you've made quite the amount of posts!</p>
                </div>
                <div class="container">
                    <div class="row posts-list">
                        <div th:each="redditPost : ${redditPosts}" class="post-container first-reddit">
                            <div style="display: flex; justify-content: space-between; flex-direction: row-reverse; align-items: center">
                                <div>
                                    <ion-icon name="logo-reddit"></ion-icon>
                                </div>
                                <div>
                                    <p> Reddit</p>
                                </div>
                            </div>
                            <div class="top">
                                <img height="25" src="/resources/Gifs/header.webp" width="25">
                                <p th:text="'Header: ' + ${redditPost.title}"></p>
                                <img height="25" src="/resources/Gifs/subreddit.webp" width="25">
                                <p th:text="'Subreddit: ' + ${redditPost.subreddit}"></p>
                            </div>
                            <div class="main">
                                <img height="25" src="/resources/Gifs/author.webp" width="25">
                                <p th:text="'Author: ' + ${redditPost.author}"></p>
                                <img height="25" src="/resources/Gifs/clock.webp" width="25">
                                <p th:text="'Created: ' + ${redditPost.creationDate}"></p>
                            </div>
                            <div class="post-content">
                                <p th:text="${redditPost.content}">Your post content will be here!</p>
                            </div>
                            <div class="interactions">
                                <img height="25" src="/resources/Gifs/comment.webp" width="25">
                                <p th:text="'Number of comments: ' + ${redditPost.numComments}"></p>

                                <img height="25" src="/resources/Gifs/like.webp" width="25">
                                <p th:text="'Up Votes: ' + ${redditPost.upVotes}"></p>

                                <img height="25" src="/resources/Gifs/dislike.webp" width="25">
                                <p th:text="'Down Votes: ' + ${redditPost.downVotes}"></p>
                            </div>
                            <div class="original-post">
                                <a th:href="${redditPost.url}" class="original-post" target="_blank">Original Post</a>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row posts-list">
                    <div th:each="tweet : ${tweets}" class="post-container first-tweet">
                        <div style="display: flex; justify-content: space-between; flex-direction: row-reverse; align-items: center">
                            <div>
                                <ion-icon name="logo-twitter"></ion-icon>
                            </div>
                            <div>
                                <p style="margin-left: 9px">Twitter</p>
                            </div>
                        </div>
                        <div class="main">
                            <img height="25" src="/resources/Gifs/clock.webp" width="25">
                            <p th:text="'Created: ' + ${tweet.creationDate}"></p>
                        </div>
                        <div class="post-content">
                            <p th:text="${tweet.tweetText}">Your post content will be here!</p>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>

            <!--            mastodon not updating when refreshing page so i took out favourites count for now           -->
            <div class="container">
                <div class="row posts-list">
                    <div th:each="post : ${mastodonPosts}" class="post-container first-tweet">
                        <div style="display: flex; justify-content: space-between; flex-direction: row-reverse; align-items: center">
                            <div>
                                <ion-icon name="logo-mastodon"></ion-icon>
                            </div>
                            <div>
                                <p style="margin-left: 9px">Mastodon</p>
                            </div>
                        </div>
<!--                        <div class="interactions">-->
<!--                            <img height="25" src="/resources/Gifs/like.webp" width="25">-->
<!--                            &lt;!&ndash;/*@thymesVar id="favouriteCount" type="java.lang.Integer"*/&ndash;&gt;-->
<!--                            <p th:text="'Favourite Count: ' + ${post.favouriteCount}"></p>-->
<!--                        </div>-->
                        <div class="post-content">
                            <p th:utext="${post.content}">Your post content will be here!</p>
                        </div>
                        <div class="original-post">
                            <a th:href="${post.postUrl}" class="original-post" target="_blank">Original Post</a>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>

            <!--             took out note count for same reason i took out mastodon favourites count                -->
            <div class="container">
                <div class="row posts-list">
                    <div th:each="post : ${tumblrPosts}" class="post-container first-tweet">
                        <div style="display: flex; justify-content: space-between; flex-direction: row-reverse; align-items: center">
                            <div>
                                <ion-icon name="logo-tumblr"></ion-icon>
                            </div>
                            <div>
                                <p style="margin-left: 9px">Tumblr</p>
                            </div>
                        </div>
                        <div class="main">
                            <img height="25" src="/resources/Gifs/clock.webp" width="25">
                            <p th:text="'Created: ' + ${post.date}"></p>
                        </div>
                        <div class="post-content">
                            <p th:utext="${post.content}">Your post content will be here!</p>
                        </div>
                        <div class="interactions">
                            <img height="25" src="/resources/Gifs/like.webp" width="25">
                            <p th:text="'Note Count: ' + ${post.noteCount}"></p>
                        </div>
                        <div class="original-post">
                            <a th:href="${post.postUrl}" class="original-post" target="_blank">Original Post</a>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
<!--            <div class="container">-->
<!--                <div class="row posts-list">-->
<!--                    &lt;!&ndash; Iterating over each post &ndash;&gt;-->
<!--                    <div th:each="post : ${posts}" class="col-md-4 post-container">-->
<!--                        <p>Tumblr</p>-->
<!--                        <div class="main">-->
<!--                            &lt;!&ndash; Assuming you have or will convert the post's creation time into a format that can be used as an image alt text &ndash;&gt;-->
<!--                            <img height="25" src="/resources/Gifs/clock.webp" width="25" alt="Post Creation Time">-->
<!--                            <p th:text="'Created: ' + ${#temporals.format(post.date, 'yyyy-MM-dd HH:mm')}">Created: </p>-->
<!--                        </div>-->
<!--                        <div class="post-content">-->
<!--                            <p th:utext="${post.content}">Your post content will be here!</p>-->
<!--                        </div>-->
<!--                        <div class="interactions">-->
<!--                            <img height="25" src="/resources/Gifs/comment.webp" width="25" alt="Note Count">-->
<!--                            <p th:text="'Note Count: ' + ${post.noteCount}">Note Count: </p>-->
<!--                        </div>-->
<!--                        <div class="original-post">-->
<!--                            <a th:href="${post.postUrl}" th:text="${post.postUrl}">Original Post</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--                <div class="container">-->
<!--                    <div class="row posts-list">-->
<!--                        <div class="post-container">-->

<!--                            <p>Mastodon</p>-->
<!--                            <div class="post-content">-->
<!--                                <p>Your post content will be here!</p>-->
<!--                            </div>-->
<!--                            <div class="interactions">-->

<!--                                <img height="25" src="/resources/Gifs/favorite.webp" width="25">-->
<!--                                <p>Favorite count: </p>-->

<!--                            </div>-->
<!--                            <div class="original-post">-->
<!--                                <a class="original-post" href="#">Original Post</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>

<style>
    .first-tweet:first-child {
        margin-top: 28px;
    }

    .first-reddit:first-child {
        margin-top: 28px;
    }

    ion-icon[name="logo-reddit"] {
        color: orangered;
        font-size: 32px;
    }

    ion-icon[name="logo-twitter"] {
        color: #1da1f3;
        font-size: 32px;
    }
</style>


<script crossorigin="anonymous"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" type="module"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>