<!DOCTYPE html>
<html>
<head>
    <title>Create Tumblr Post</title>
</head>
<body>
<h1>Create a Post on Tumblr</h1>
<form action="/tumblr/post-to-tumblr" method="post">
    <textarea cols="50" name="postContent" placeholder="Write your post here..." rows="4"></textarea>
    <br>
    <button type="submit">Post to Tumblr</button>
</form>
<h2>Your Posts</h2>
<!--<div th:each="post : ${posts}">-->
<!--    <div th:utext="${post}">Post content</div>-->
<!--</div>-->
<ul style="list-style: none;">
    <li th:each="post : ${posts}" style="margin-bottom: 20px;">
        <div>
            <strong style="display: inline-block; margin-right: 5px;">Content:</strong>
            <span th:utext="${post.content}" style="display: inline-block; max-width: 80%;"></span>
        </div>
        <div style="margin-top: 10px;">
            <strong>URL:</strong>
            <a th:href="${post.postUrl}" th:text="${post.postUrl}"></a>
        </div>
        <div style="margin-top: 10px;">
            <strong>Notes:</strong>
            <span th:text="${post.noteCount}"></span>
        </div>
        <hr>
    </li>
</ul>
</body>
</html>
